h1 {
    background: rgb(220, 140, 240);
}
h2 {
    background: rgb(165, 105, 200);
}
h3 {
    background: rgb(100, 100, 140);
}
h4 {
    background: rgb(230, 230, 160);
}
h5 {
    background: rgb(215, 215, 130);
}
h6 {
    background: rgb(195, 165, 80);
}